body{
    background-color: #e1e1e1;
    min-height:100%;
}
.markdown-text img{
    width:100%;
}
#replicesName img{
    max-width:100%;
}
body .ant-layout{
    min-height:100vh;
}
.wrap{
    background-color:#fff;
    overflow: hidden;
}
.setColor{
    background-color: transparent;
}
.wrap{
    margin:0 5px;
    font-size:13px;
    border-radius:5px;
}
#footer{
    padding:24px 0;
    background-color:#fff;
}
/* 头部 */
#header{
    background-color: #444;
    height:auto;
    line-height:40px;
    padding:5px 0;
}
#header .wrap{
    background-color:transparent;
}
.logo img{
    margin-top:-14px;
    width:160px;
    height:28px;
}
.headerNav a{
    padding:10px 15px;
    color:#ccc;
}
.headerNav a:hover{
    color:#fff;
}
.headerNav .active{
    color:#fff;
}
/* 首页子导航 */
.ant-menu-item.ant-menu-item-only-child.ant-menu-item-selected{
    border-bottom:2px solid #80bd01;
}
.ant-menu-horizontal > .ant-menu-item-selected > a{
    color:#80bd01;
}
.ant-menu-horizontal > .ant-menu-item:hover{
    border-bottom:2px solid #80bd01;
}
.ant-menu-horizontal > .ant-menu-item > a:hover{
    color:#80bd01;
}
.ant-menu-horizontal > .ant-menu-submenu:hover{
    border-bottom:2px solid #80bd01;
    color:#80bd01;
}
.ant-menu-submenu-title:hover{
    color:#80bd01;
}
.ant-menu-horizontal > .ant-menu-item:hover{
    
    color:#80bd01;
}

.ant-menu-horizontal > .ant-menu-submenu-selected{
    border-bottom:2px solid #80bd01;
    color:#80bd01;
}
.ant-menu-horizontal > .ant-menu-item-selected{
    color:#80bd01;
}
.ant-menu-item-selected > a{
    color:#80bd01;
}
.ant-menu-item-selected > a, .ant-menu-item-selected > a:hover{
    
    color:#80bd01;
}
.ant-menu-item > a:hover{
    color:#80bd01;
}
.ant-menu-item:hover{
    color:#80bd01;
}
/* 列表 */
.listName,.wrap .List{
    background-color:#fff;
    padding-left:5px;
    min-height:1120px;
}
.wrap .List a{
    overflow: hidden;;
    text-overflow: ellipsis;
    white-space: nowrap;
    color:#000;
}
#text-wrap{
    overflow: hidden;;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ant-tag.ant-tag-has-color{
    text-align:center;
}
/* 分页 */
.IndexPagnation{
    padding:15px;
}
.IndexPagnation .ant-pagination-item-active{
    border-color: #ddd
}
.IndexPagnation .ant-pagination-item-active:hover{
    border-color: #80bd01
}
.IndexPagnation .ant-pagination-item:hover{
    border-color: #80bd01;
}
.IndexPagnation  .ant-pagination-item-active a{
    color: #80bd01;
}
.IndexPagnation  .ant-pagination-item-active:hover a{
    color: #80bd01;
}
.IndexPagnation  .ant-pagination-item:hover a{
    color: #80bd01;
}

/* 文章详情 */
.wrap .ant-card{
    margin-top:20px;
}
#replicesName li{
    border-bottom:1px solid #ddd;
}

/* 用户详情 */
#usePage .listName{
    min-height:auto;
}
#usePage .List{
    min-height:auto;
}
#usePage p{
    margin-top:15px;
    text-align:center;
}
#usePage .useIcon{
    text-align:center;
}
#usePage .useheader{
    text-align:left;
}

/* 新手入门 */
.ant-breadcrumb a:hover{
    color:#80bd01;
}

#start{
    margin-top:0;
}
.wrap.getstart{
    margin-top:20px;
}
/* 关于 */
.getstart .ant-card{
    margin-top:0;
}
.about img{
    max-width:100%;
}

/* 页脚 */
#foot{
    background-color:#ffffff;
    margin-top:20px;
}

/* 相应 */
@media all and (min-width:576px){
    .wrap{
        margin:0 5px;
    }
    .wrap .List{
        padding-left:5px;
    }
}
@media all and (min-width:768px){
    .wrap{
        margin:0 10px;
    }
    .wrap .List{
        padding-left:10px;
    }
}
@media all and (min-width:992px){
    .wrap{
        margin:0 15px;
    }
    .wrap .List{
        padding-left:15px;
    }
}
@media all and (min-width:1200px){
    .wrap{
        width:980px;
        margin:0 auto;
    }
}
